<?xml version="1.0"?>
<!--
/**
 * @category    Ruchlewicz
 * @package     Ruchlewicz_ConsoleCommand
 * @author      Sebastian Ruchlewicz <sebastian.ruchlewicz@gmail.com>
 * @copyright   Copyright (c) Sebastian Ruchlewicz (https://ruchlewicz.net/)
 * @license     https://github.com/openemr/openemr/blob/master/LICENSE GNU General Public License 3
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="productInfoCommand" xsi:type="object">Ruchlewicz\ConsoleCommand\Console\Command\ProductInfoCommand</item>
            </argument>
        </arguments>
    </type>
</config>
